h1 {
    color: red;
    font-size: 70px;
}
body{

    background-color: bisque;
}
p {
    font-size: 30px;
    color: purple;
}

p a {
    color: green;

}

#Summary {
    color: black;
}

.head {
    color:blue;
}